
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainContent.cshtml";

}
<section class="content" ng-app="myApp" ng-controller="courseCtrl">
    <div class="row">
        <div class="col-12">
            <div class="card card-blue">
                <div class="card-header">
                    <h3 class="card-title">Course List</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="1%">Sl</th>
                                <th>Name</th>
                                <th width="1%">Status</th>
                                @if (User.IsInRole("SuperAdmin"))
                                {
                                    <th width="1%" class="text-center"><button data-toggle="modal" href="#course-modal" title="Create Course" class="btn btn-sm btn-primary" ng-click="onClick('Sync')"><i class="fa fa-plus-circle"></i></button></th>}
                                </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in CourseList">
                                <td>{{$index+1}}</td>
                                <td>
                                    {{item.Name}}
                                </td>
                                <td>
                                    <label ng-show="item.Status==1" class="badge badge-success">Active</label>
                                    <label ng-show="item.Status!=1" class="badge badge-danger">In Active</label>
                                </td>
                                @if (User.IsInRole("SuperAdmin"))
                                {
                                    <td>

                                        <div class="btn-group">
                                            <a data-toggle="modal" href="#course-modal" title="Edit Course" class="btn btn-sm btn-primary" ng-click="onClick('EditCourse',item)"><i class="fa fa-edit"></i></a>
                                        </div>

                                    </td>
                                }

                            </tr>

                    </table>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="modal fade" id="course-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Course</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    <input ng-model="Name" type="text" class="form-control" placeholder="Name">
                                </div>
                                <label class="col-sm-3 control-label">ShortName</label>
                                <div class="col-sm-9">
                                    <input ng-model="ShortName" type="text" class="form-control" placeholder="ShortName">
                                </div>
                                <label class="col-sm-3 control-label">Active</label>
                                <div class="col-sm-9">
                                    <input ng-model="Status" type="checkbox">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!-- /.card-footer -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button data-toggle="tooltip" title="Save" type="button" class="btn btn-success pull-right" data-dismiss="modal" ng-click="onClick('SaveCourse')"><i class="fa fa-save"></i></button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>
@section Scripts
    {
    <script src="~/scripts/Angular/appModul.js"></script>
    <script src="~/scripts/Angular/Course/CourseService.js"></script>
    <script src="~/scripts/Angular/Course/CourseController.js"></script>
}


