USE [SemesterRoutineMSDB]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 8/28/2023 4:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Code] [nchar](10) NULL,
	[Status] [bit] NULL,
	[Term] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifedBy] [int] NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/28/2023 4:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 8/28/2023 4:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[No] [nvarchar](50) NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routine]    Script Date: 8/28/2023 4:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[TimeSpanId] [int] NOT NULL,
	[WeekDayId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[Term] [int] NOT NULL,
 CONSTRAINT [PK_Routine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 8/28/2023 4:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Date] [date] NOT NULL,
	[Semester] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentCourseEnrollment]    Script Date: 8/28/2023 4:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentCourseEnrollment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[SessionId] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_StudentCourseEnrollment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherAppointment]    Script Date: 8/28/2023 4:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherAppointment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_TeacherAppointment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSpan]    Script Date: 8/28/2023 4:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSpan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[startTime] [nvarchar](12) NOT NULL,
	[endTime] [nvarchar](12) NOT NULL,
	[sort] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_TimeSpan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/28/2023 4:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeekDay]    Script Date: 8/28/2023 4:45:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeekDay](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](12) NOT NULL,
	[ShortName] [nvarchar](3) NOT NULL,
	[Sort] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_WeekDay] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([Id], [Name], [Code], [Status], [Term], [CreatedBy], [CreatedAt], [ModifedBy], [ModifiedAt]) VALUES (1, N'Communicative English ', N'ENG1131   ', 1, 0, 1, CAST(N'2023-06-28T13:07:20.640' AS DateTime), 1, CAST(N'2023-06-28T13:14:37.843' AS DateTime))
INSERT [dbo].[Course] ([Id], [Name], [Code], [Status], [Term], [CreatedBy], [CreatedAt], [ModifedBy], [ModifiedAt]) VALUES (2, N'Wave, Optics and Thermodynamics', N'PHY1132   ', 1, 0, 1, CAST(N'2023-06-29T07:38:10.437' AS DateTime), NULL, NULL)
INSERT [dbo].[Course] ([Id], [Name], [Code], [Status], [Term], [CreatedBy], [CreatedAt], [ModifedBy], [ModifiedAt]) VALUES (3, N'Introduction to Business', N'BUS1123   ', 1, 0, 1, CAST(N'2023-06-30T10:31:01.873' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name], [Status]) VALUES (1, N'SuperAdmin', 1)
INSERT [dbo].[Role] ([Id], [Name], [Status]) VALUES (2, N'Student', 1)
INSERT [dbo].[Role] ([Id], [Name], [Status]) VALUES (3, N'Teacher', 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([Id], [No], [Status]) VALUES (1, N'A-101', 1)
INSERT [dbo].[Room] ([Id], [No], [Status]) VALUES (2, N'A-102', 1)
INSERT [dbo].[Room] ([Id], [No], [Status]) VALUES (3, N'A-103', 1)
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[Routine] ON 

INSERT [dbo].[Routine] ([Id], [SessionId], [CourseId], [TimeSpanId], [WeekDayId], [RoomId], [TeacherId], [Term]) VALUES (2, 1, 8, 0, 1, 2, 2, 0)
INSERT [dbo].[Routine] ([Id], [SessionId], [CourseId], [TimeSpanId], [WeekDayId], [RoomId], [TeacherId], [Term]) VALUES (3, 1, 25, 0, 1, 3, 13, 2)
INSERT [dbo].[Routine] ([Id], [SessionId], [CourseId], [TimeSpanId], [WeekDayId], [RoomId], [TeacherId], [Term]) VALUES (4, 1, 44, 0, 1, 4, 16, 4)
SET IDENTITY_INSERT [dbo].[Routine] OFF
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([Id], [Name], [Date], [Semester], [Status]) VALUES (1, N'231', CAST(N'2023-08-27' AS Date), 0, 1)
INSERT [dbo].[Session] ([Id], [Name], [Date], [Semester], [Status]) VALUES (2, N'232', CAST(N'2023-08-27' AS Date), 1, 1)
INSERT [dbo].[Session] ([Id], [Name], [Date], [Semester], [Status]) VALUES (3, N'221', CAST(N'2022-01-13' AS Date), 0, 1)
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
SET IDENTITY_INSERT [dbo].[TeacherAppointment] ON 

INSERT [dbo].[TeacherAppointment] ([Id], [TeacherId], [CourseId], [Status]) VALUES (2913, 2, 1, 1)
INSERT [dbo].[TeacherAppointment] ([Id], [TeacherId], [CourseId], [Status]) VALUES (2914, 2, 2, 1)
INSERT [dbo].[TeacherAppointment] ([Id], [TeacherId], [CourseId], [Status]) VALUES (2915, 2, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[TeacherAppointment] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSpan] ON 

INSERT [dbo].[TimeSpan] ([Id], [startTime], [endTime], [sort], [Status]) VALUES (0, N'08:45 AM', N'09:45 AM', 1, 1)
INSERT [dbo].[TimeSpan] ([Id], [startTime], [endTime], [sort], [Status]) VALUES (1, N'09:50 AM', N'10:50 AM', 2, 1)
INSERT [dbo].[TimeSpan] ([Id], [startTime], [endTime], [sort], [Status]) VALUES (2, N'10:55 AM', N'11:55 AM', 3, 1)
SET IDENTITY_INSERT [dbo].[TimeSpan] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [UserName], [Password], [Role], [Status], [Email], [Phone]) VALUES (1, N'Shihab Saadi', N'saadi', N'123', N'SuperAdmin', 1, N's.saadi2047@gmail.com', NULL)
INSERT [dbo].[User] ([Id], [Name], [UserName], [Password], [Role], [Status], [Email], [Phone]) VALUES (2, N'Shofiul Basher', N'basher', N'c7c7f75a', N'Teacher', 1, N'basher@gmail.com', N'0185550565')
INSERT [dbo].[User] ([Id], [Name], [UserName], [Password], [Role], [Status], [Email], [Phone]) VALUES (3, N'Easir Mahmud Emon', N'easir', N'8703b839', N'Student', 1, N'easir@gmail.com', N'015228525')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[WeekDay] ON 

INSERT [dbo].[WeekDay] ([Id], [Name], [ShortName], [Sort], [Status]) VALUES (1, N'Saturday', N'SAT', 1, 1)
INSERT [dbo].[WeekDay] ([Id], [Name], [ShortName], [Sort], [Status]) VALUES (3, N'Sunday', N'SUN', 2, 1)
INSERT [dbo].[WeekDay] ([Id], [Name], [ShortName], [Sort], [Status]) VALUES (4, N'Monday', N'MON', 3, 0)
SET IDENTITY_INSERT [dbo].[WeekDay] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_No]    Script Date: 8/28/2023 4:45:48 AM ******/
ALTER TABLE [dbo].[Room] ADD  CONSTRAINT [Unique_No] UNIQUE NONCLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_Name]    Script Date: 8/28/2023 4:45:48 AM ******/
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [Unique_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_End]    Script Date: 8/28/2023 4:45:48 AM ******/
ALTER TABLE [dbo].[TimeSpan] ADD  CONSTRAINT [Unique_End] UNIQUE NONCLUSTERED 
(
	[endTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_Start]    Script Date: 8/28/2023 4:45:48 AM ******/
ALTER TABLE [dbo].[TimeSpan] ADD  CONSTRAINT [Unique_Start] UNIQUE NONCLUSTERED 
(
	[startTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_Email]    Script Date: 8/28/2023 4:45:48 AM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [Unique_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_UserName]    Script Date: 8/28/2023 4:45:48 AM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [Unique_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_User]
GO
ALTER TABLE [dbo].[Routine]  WITH CHECK ADD  CONSTRAINT [FK_Routine_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[Routine] CHECK CONSTRAINT [FK_Routine_Course]
GO
ALTER TABLE [dbo].[Routine]  WITH CHECK ADD  CONSTRAINT [FK_Routine_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([Id])
GO
ALTER TABLE [dbo].[Routine] CHECK CONSTRAINT [FK_Routine_Room]
GO
ALTER TABLE [dbo].[Routine]  WITH CHECK ADD  CONSTRAINT [FK_Routine_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([Id])
GO
ALTER TABLE [dbo].[Routine] CHECK CONSTRAINT [FK_Routine_Session]
GO
ALTER TABLE [dbo].[Routine]  WITH CHECK ADD  CONSTRAINT [FK_Routine_TimeSpan] FOREIGN KEY([TimeSpanId])
REFERENCES [dbo].[TimeSpan] ([Id])
GO
ALTER TABLE [dbo].[Routine] CHECK CONSTRAINT [FK_Routine_TimeSpan]
GO
ALTER TABLE [dbo].[Routine]  WITH CHECK ADD  CONSTRAINT [FK_Routine_User] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Routine] CHECK CONSTRAINT [FK_Routine_User]
GO
ALTER TABLE [dbo].[Routine]  WITH CHECK ADD  CONSTRAINT [FK_Routine_WeekDay] FOREIGN KEY([WeekDayId])
REFERENCES [dbo].[WeekDay] ([Id])
GO
ALTER TABLE [dbo].[Routine] CHECK CONSTRAINT [FK_Routine_WeekDay]
GO
ALTER TABLE [dbo].[StudentCourseEnrollment]  WITH CHECK ADD  CONSTRAINT [FK_StudentCourseEnrollment_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[StudentCourseEnrollment] CHECK CONSTRAINT [FK_StudentCourseEnrollment_Course]
GO
ALTER TABLE [dbo].[StudentCourseEnrollment]  WITH CHECK ADD  CONSTRAINT [FK_StudentCourseEnrollment_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([Id])
GO
ALTER TABLE [dbo].[StudentCourseEnrollment] CHECK CONSTRAINT [FK_StudentCourseEnrollment_Session]
GO
ALTER TABLE [dbo].[StudentCourseEnrollment]  WITH CHECK ADD  CONSTRAINT [FK_StudentCourseEnrollment_User] FOREIGN KEY([StudentId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[StudentCourseEnrollment] CHECK CONSTRAINT [FK_StudentCourseEnrollment_User]
GO
ALTER TABLE [dbo].[TeacherAppointment]  WITH CHECK ADD  CONSTRAINT [FK_TeacherAppointment_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[TeacherAppointment] CHECK CONSTRAINT [FK_TeacherAppointment_Course]
GO
ALTER TABLE [dbo].[TeacherAppointment]  WITH CHECK ADD  CONSTRAINT [FK_TeacherAppointment_User] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[TeacherAppointment] CHECK CONSTRAINT [FK_TeacherAppointment_User]
GO
